.ticker-container {
    @apply bg-gray-800 py-2 overflow-hidden relative; 
    display: flex;
    align-items: flex-start; 
    padding: 0 1rem; 
    margin-bottom: 1rem; 
}

.ticker-content {
    @apply flex whitespace-nowrap; 
    animation: scroll 25s linear infinite; 
    margin-left: 1rem; 
}

.ticker-container:hover .ticker-content {
    animation-play-state: paused; 
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); 
    z-index: 10; 
}

.refresh-button-container {
    display: flex;
    justify-content: center; /* Center the button */
    margin-top: 1rem; /* Space above the button */
}

.refresh-button {
    @apply bg-gray-500 text-white font-semibold py-2 px-4 rounded-full shadow-lg transition duration-300 ease-in-out; /* Tailwind styles */
}

.refresh-button:hover {
    @apply bg-gray-700; /* Darker shade on hover */
}
