@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animation-scroll {
  animation: scroll 20s linear infinite;
}

.ticker-container {
  @apply py-2 overflow-hidden relative flex items-start px-4 mb-4 w-full;
}

.ticker-content {
  @apply flex whitespace-nowrap animation-scroll bg-transparent;
}

.ticker-container:hover .ticker-content {
  animation-play-state: paused;
}

.loader {
  @apply flex justify-center items-center h-full absolute top-0 left-0 w-full bg-white bg-opacity-80 z-10;
}

.refresh-button-container {
  @apply flex justify-center mt-4;
}

.refresh-button {
  @apply bg-gray-500 text-white font-semibold py-2 px-4 rounded-full shadow-lg transition duration-300 ease-in-out;
}

.refresh-button:hover {
  @apply bg-gray-700;
}